.productList{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: salmon; */
}
.col{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.col button{
    background-color: yellow;
    color: black;
    height: 50px;
}